@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("/img/fondo.jpg");
    background-size: 200%;
}

.container-1 {
    margin: 0px auto;
    border-radius: 10px;
    width: 100%;
    max-width: 320px;
    margin-top: 10px;
    padding: 0;
}

.card-container {
    background-color: rgb(27, 27, 27);
    margin: 0px auto;
    border-radius: 20px;
    width: 100%;
    max-width: 320px;margin-top: 10px;
    text-align: center;
}

header {
    height: 260px;
}

header img {
    padding-top: 30px;
    width: 70%;
}

main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    padding-bottom: 20px;
    border-radius: 0 0 10px 10px;
}

main .text2 {
    color: white;
    text-shadow: 1 1 1px black;
    font-family: "Montserrat", sans-serif;
    /* font-family: 'Bebas Neue', sans-serif; */
    font-size: 33px;
    padding-top: 30px;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

main .text3 {
    color: white;
    text-shadow: 1 1 1px black;
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

main .text4 {
    padding: 10px 20px;
    color: white;
    text-shadow: 1 1 1px black;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

main h4 {
    color:white;
    padding: 10px40px;

}

.important-data {
    font-family: "Bebas Neue", sans-serif;
    background-image: url("/img/fondo3.jpg");
    border-radius: 10px;
    margin: 30px 10px;
    padding: 20px 0px;
    color: rgb(27, 27, 27);
}

.important-data .titulo {
    font-size: 30px;
}

.important-data .data {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
}

.asistencia h4 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;

}

.regalo h3 {
    padding-top: 20px;
    font-size: 20px;
    color:white;
    font-family: "Montserrat", sans-serif;
}

.regalo .img {
    display: flex;
    justify-content: center;
}



footer {
    text-align: center;
}

footer p {
    font-family: "Outfit", sans-serif;
    color: #272727;
    margin-top: 10px;
}
